
/* CSS BOILERPLATE  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

/* ---------------------------------- */

/* direct targetting */
p{
    color: aqua;
    background-color: black;
    height: 200px;
    width: 200px;
    margin: 20px 40px 30px 20px; 
    /* -> top right bottom left . margin: 20px 40px --- top and bottom */
    padding: 20px;
}
/* through id  */
#a{       
    color: aquamarine;
}
/* through class  */
.a{
    color: brown;
}

/* Understanding height and width  */
#main{
    width: 100%;
    height: 100%;
    background-color:antiquewhite;
    background-image: url(https://plus.unsplash.com/premium_photo-1709461852838-467746b3c9e5?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDF8NnNNVmpUTFNrZVF8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: bottom ;
}

/* Margin : hoti h bahar ki taraf space banata h 
Padding : hoti h andar ki taraf space bnata h */